html, body {
    height: 100%;
    margin: 0;
}
.content {
    background-image: url('images/bg-bottom.svg'), url('images/bg-top.svg');
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    width: auto;
    height: auto;
    margin: 0;
    min-height: 100%;
    background-color: hsl(223, 33%, 96%);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
/* toggle in label designing */
.toggle {
    position : relative ;
    display : inline-block;
    width : 30px;
    height : 15px;
    background-color: hsl(226, 41%, 75%);
    border-radius: 30px;
    border: 2px solid white;
}
        
/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:white;
    top: 1px; 
    left: 1px;
    transition:  all 0.5s;
}
.ourToggle {
    align-self: start;
    padding: 20px;
}
/* Toggle text */
/*p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}*/
        
/* Checkbox cheked effect */
.checkbox:checked + .toggle::after {
    left : 14px; 
}
        
/* Checkbox cheked toggle label bg color */
.checkbox:checked + .toggle {
    background-color:hsl(226, 41%, 75%);
}
        
/* Checkbox vanished */
.checkbox { 
    display : none;
}
p {
    font-family: 'Montserrat' sans-serif;
    font-size: 12px;
    font-weight: 700;
    color:hsl(226, 41%, 75%);
}
.upper-content {
    align-self: center;
    justify-content: center;
}
.table_body {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items:start;
}

.one { 
    margin: 10px;
    width: 300px;
    height: 300px;
    border-radius: 4%;
    background-color: hsl(240, 100%, 99%);
    color: hsl(233, 13%, 49%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    transition: transform .2s;
}
.one:hover {
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  background-color: hsl(233, 57%, 69%);
  color: hsl(240, 100%, 99%);
}
.one:hover > .learn {
    background-color: hsl(233, 57%, 69%);
    color: white;
    border: solid 1px white;
}
.one:hover > .price {
    color: white;
}
.plan {
    align-self: center;
    font-weight: 700;
}
.price {
    align-self: center;
    font-weight: 700;
    font-size: 250%;
    color:hsl(227, 38%, 26%);
    height: auto;
    width: auto;
}
.description {
    align-self: center;
    font-weight: 700;
    font-size: 80%;
}
.learn {
    padding: 3%;
    align-self: center;
    border-radius: 5%;
    font-size: 70%;
    width: 65%;
    font-weight: 700;
    background-color: hsl(240, 100%, 99%);
    color: hsl(233, 57%, 69%);
    border: solid 1px hsl(233, 57%, 69%);
    display: flex;
    align-items: center;
    justify-content: center;
}
hr {
    align-self: center;
    width: 80%;
    color:hsl(228, 20%, 95%);
}
h2 {
    text-align: center;
    color:hsl(233, 61%, 30%);
}